/*
	Context Weighting
	Version 1.0
	context.css
	
	Contains all CSS declarations
*/

* {
	box-sizing: border-box;
}

html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}

body{ 
	display:flex; 
	flex-direction:column; 
	height:100vh; 
	margin:0; 
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
line {
	cursor: pointer;
}	
#header {
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
	padding: 30px 10px 10px 10px;
}
#container{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 80%; 
	margin: auto; 
}

#footer{
	margin-top:auto;
  	padding: 10px;
    height: 50px;
}

#help-container{
	display: none;
	position: fixed;
	z-index: 20;
	padding: 20px 0px 10px 0px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#help-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	padding: 5px;
	margin: auto;
	border: 1px solid #888;
	background-color: #ffffff;
}

#help-footer{
	text-align: right;
}
#help-copyright{
	font-size: 10pt;
	text-align: center;
}

.context{
	display: inline-block;
	position: relative;
	width: 300px;
	height: 200px;
	border: 2px solid #000000;
	border-radius: 8px;
	margin: 10px 10px 10px 10px;
	z-index: 10;
}
.context-header {
	position: absolute;
	top: 0px;
	width: 100%;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	flex-flow: row nowrap; /* Align on the same line */
	justify-content: space-between; /* Equal margin between the child elements */
	text-align: right;
}
.context-main {
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
}
.context-help {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 8pt;
	padding-bottom: 5px;
	text-align: center;
}

.context-name {
	width: 100%;
	text-align: center;
}
.context-edit {
	width: 100%;
	text-align: center;
}
.context-input {
	font-size: 12pt;
}
.action-span {
	cursor: pointer;
	padding-right: 5px;
	color: #000000;
}

.disabled {
	cursor: auto;
	color: #aaaaaa;
}
.button {
	display: inline-block;
	font-size: 10pt;
	text-align: center;
	padding: 5px;
	min-width: 50px;
	background: #ffff;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.button:hover {
	background: #ddd;
}
.link-start {
	color: transparent;
	text-shadow: 0 0 0 #0000aa;
}
.link-free {
	color: transparent;
	text-shadow: 0 0 0 #00aa00;
}
.link-disabled {
	color: transparent;
	text-shadow: 0 0 0 #aaaaaa;
	cursor: auto;
}

#remove-line {
  display: none;
  position: absolute;
  z-index: 10;
}

